name: Python Blog Builder

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Run py script
      run: |
        python blog.py
    - name: Config git
      run: |
        git config user.email "0pdlna3@gmail.com"
        git config user.name "lostsh Action"
    - name: Checkout
      run: git checkout public
    - name: Add
      run: git add index.html
    - name: Commit
      run: git commit -m "Publish website"
    - name: Push to `public` branch
      run: |
        git fetch origin public
        git push origin HEAD:public
